<!DOCTYPE html>
<%- include('partials/_header') %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/orders.css" />
    <title>Sushi Time 🍣</title>
  </head>
  <body>
    <main style="margin: 5em">
      <div
        class="d-flex flex-column justify-content-center"
        id="orders-card"
        style="height: 10em"
      >
        <h3
          id="orders-header"
          class="card-title mx-auto"
          style="margin-bottom: 10px"
        >
          <% if (isAdmin) { %> Orders <% } else { %> My Orders <% } %>
        </h3>
      </div>
      <% if (isAdmin) { %>
      <div class="card rounded-3 mb-4">
        <table
          class="table table-responsive-sm table-hover table-striped table-fixed"
          id="orders-table"
        >
          <thead class="orders-table-head">
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Placed</th>
              <th scope="col">Estimated Time(minutes)</th>
              <th scope="col">Send Estimated Time(minutes)</th>
              <th scope="col">Total</th>
              <th scope="col">Completed</th>
              <th scope="col">Completed at</th>
              <th scope="col">Complete Order</th>
            </tr>
          </thead>
          <% } else { %>
          <div class="card rounded-3 mb-4">
            <table
              class="table table-responsive-sm table-hover table-striped table-fixed"
              id="orders-table"
            >
              <thead class="orders-table-head">
                <tr>
                  <th scope="col">Order #</th>
                  <th scope="col">Placed</th>
                  <th scope="col">Estimated Time(minutes)</th>

                  <th scope="col">Total</th>
                  <th scope="col">Completed</th>
                  <th scope="col">Completed at</th>
                </tr>
              </thead>
              <% } %> <% if (isAdmin) { %> <% orders.sort((a, b) =>
              b.time_placed - a.time_placed).forEach(order => { %>
              <tbody>
                <tr>
                  <td><%= order.id %></td>
                  <td>
                    <%= new Date(order.time_placed).toLocaleString('en-US', {
                    weekday: 'long', year: 'numeric', month: 'long', day:
                    'numeric', hour: 'numeric', minute: 'numeric', }) %>
                  </td>
                  <td><%= order.time_estimated %></td>
                  <td>
                    <form action="/orders/estimated" method="POST">
                      <input
                        type="hidden"
                        name="orderId"
                        value="<%= order.id %>"
                      />

                      <input
                        class="form-control-sm"
                        type="number"
                        id="estimatedPreparationTime"
                        name="estimatedPreparationTime"
                        required
                      />
                      <% if (order.time_estimated) { %>
                      <button class="btn" type="submit" disabled>Sent</button>
                      <% } else { %>
                      <button class="btn" type="submit">Send</button>
                      <% } %>
                    </form>
                  </td>
                  <td>$<%= order.total_cost %></td>
                  <td>
                    <% if (order.is_completed) { %>
                    <i class="text-success fas fa-check fa-lg"></i>
                    <% } else { %>
                    <i class="text-warning fas fa-clock fa-lg"></i>
                    <% } %>
                  </td>
                  <td>
                    <% if (order.time_completed === null) { %> <%=
                    order.time_completed %> <% } else { %> <%= new
                    Date(order.time_completed).toLocaleString('en-US', {
                    weekday: 'long', year: 'numeric', month: 'long', day:
                    'numeric', hour: 'numeric', minute: 'numeric', }) %> <% } %>
                  </td>
                  <td>
                    <form action="/orders/complete" method="POST">
                      <input
                        type="hidden"
                        name="orderId"
                        value="<%= order.id %>"
                      />
                      <% if (order.is_completed) { %>
                      <button class="btn" type="submit" disabled>
                        Order Completed
                      </button>
                      <% } else { %>
                      <button class="btn" type="submit">Complete Order</button>
                      <% } %>
                    </form>
                  </td>
                </tr>
              </tbody>
              <% }); %>
            </table>
          </div>
          <% } else { %> <% orders.sort((a, b) => b.time_placed -
          a.time_placed).forEach(order => { %>
          <tbody>
            <tr>
              <td><%= order.id %></td>
              <td>
                <% if (order.time_placed === null) { %> <%= order.time_placed %>
                <% } else { %> <%= new
                Date(order.time_placed).toLocaleString('en-US', { weekday:
                'long', year: 'numeric', month: 'long', day: 'numeric', hour:
                'numeric', minute: 'numeric', }) %> <% } %>
              </td>
              <td><%= order.time_estimated %></td>
              <td>$<%= order.total_cost %></td>
              <td>
                <% if (order.is_completed) { %>
                <i class="text-success fas fa-check fa-lg"></i>
                <% } else { %>
                <i class="text-warning fas fa-clock fa-lg"></i>
                <% } %>
              </td>
              <td>
                <% if (order.time_completed === null) { %> <%=
                order.time_completed %> <% } else { %> <%= new
                Date(order.time_completed).toLocaleString('en-US', { weekday:
                'long', year: 'numeric', month: 'long', day: 'numeric', hour:
                'numeric', minute: 'numeric', }) %> <% } %>
              </td>
            </tr>
          </tbody>
          <% }); %> <% } %>
        </table>
      </div>
    </main>
  </body>
</html>
