<!DOCTYPE html>
<%- include('partials/_header') %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/orders.css" />
    <title>TinyApp</title>
  </head>
  <body>
    <main style="margin: 5em">
      <div
        class="d-flex flex-column justify-content-center"
        id="orders-card"
        style="height: 10em"
      >
        <h3
          id="orders-header"
          class="card-title mx-auto"
          style="margin-bottom: 10px"
        >
          <% if (isAdmin) { %> Orders <% } else { %> My Orders <% } %>
        </h3>
      </div>

      <% if (isAdmin) { %> <% orders.forEach(order => { %>
      <div class="card rounded-3 mb-4">
        <table class="table table-hover table-striped" id="orders-table">
          <thead class="orders-table-head">
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Placed</th>
              <th scope="col">Estimated Time</th>
              <th scope="col">total_cost</th>
              <th scope="col">is_completed</th>
              <th scope="col">time_completed</th>
              <th scope="col">Complete Order</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.time_placed %></td>
              <td><%= order.time_estimated %></td>
              <td><%= order.total_cost %></td>
              <td><%= order.is_completed %></td>
              <td><%= order.time_completed %></td>
              <td><form action="/orders/complete" method="POST">
                <input type="hidden" name="orderId" value="<%= order.id %>">
                <button type="submit">Complete Order</button>
              </form></td>

            </tr>
            </tbody>
            <% }); %> <% } else { %> <% orders.forEach(order => { %>
              <div class="card rounded-3 mb-4">
                <table class="table table-hover table-striped" id="orders-table">
                  <thead class="orders-table-head">
                    <tr>
                      <th scope="col">Order #</th>
                      <th scope="col">Placed</th>
                      <th scope="col">Estimated Time</th>
                      <th scope="col">total_cost</th>
                      <th scope="col">is_completed</th>
                      <th scope="col">time_completed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= order.time_placed %></td>
                      <td><%= order.time_estimated %></td>
                      <td><%= order.total_cost %></td>
                      <td><%= order.is_completed %></td>
                      <td><%= order.time_completed %></td>
                    </tr>
                    </tbody>
            <% }); %> <% } %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
